<%- include('partials/header'); -%>
<center><h2>Welcome to My Favourite Tune Website</h2></center>

<form action="/" method="post">
    <label for="fname">Name of the Artist</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <input type="submit" value="Submit">
</form>

<%- include('partials/footer'); -%>
