<%- include('partials/header'); -%>
<center>
    <div class="headingBox form-group">
        <h4>Insert New Song</h4>
        <form action="/songs" method="post">
            <label for="sname">Name of the song</label><br>
            <input class="form-control" type="text" id="sname" name="sname"><br>
            <label for="fname">First name of the Artist:</label><br>
            <input class="form-control" type="text" id="fname" name="fname"><br>
            <label for="lname">Last name of the Artist:</label><br>
            <input class="form-control" type="text" id="lname" name="lname"><br><br>
            <input class="btn btn-dark" type="submit" value="Add Song">
        </form>
    </div>
</center>
<%- include('partials/footer'); -%>